/*
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. Wish Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #fff;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;

  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-top: 20px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 120px/1.1em "great_vibesregular", sans-serif;
  color: #e77077;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
}
header .banner-text h3 {
  font: 40px/1em "great_vibesregular", sans-serif;
  color: #11abb0;
  letter-spacing: 3px;
  margin: 0 auto;
  width: 70%;
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #11abb0;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #11abb0;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: #e77077;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #11abb0;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li a:hover {
  color: #e77077;
}
ul#nav li.current a {
  color: #e77077;
}

/* ------------------------------------------------------------------ */
/* c. Wish Section
/* ------------------------------------------------------------------ */

#wish {
  overflow: hidden;
}

#wish a,
#wish a:visited {
  color: #fff;
}
#wish a:hover,
#wish a:focus {
  color: #fff;
}

#wish h2 {
  font: 58px "great_vibesregular";
  color: #b5173a;
  margin-bottom: 12px;
}
#wish p {
  font: 18px/1em "opensans-bold", sans-serif;
  line-height: 30px;
  color: #ccc;
}
#wish img {
  max-width: unset;
}
#wish .wordwish {
  background: #1789b5;
  padding: 96px 40px 66px;
  display: flex;
}
#wish .banner {
  background: #000524;
  padding-top: 66px;
  padding-bottom: 66px;
  padding: 60px 40px;
  display: flex;
}

#wish .banner-photo {
  width: 50%;
  position: relative;
}
#wish .wish-photo {
  width: 50%;
}
#wish .wish-text {
  width: 50%;
}
#wish .banner-wish {
  width: 50%;
}
#wish .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#wish .contact-details {
  width: 41.66667%;
}
#wish .main-col {
  padding-left: 5%;
  padding-right: 5%;
}
